/* Variables */

// Colors

$body-bg-color: rgb(131,58,180);
$body-bg-gradient: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(69,177,252,1) 100%);
$text: #FFFFFF;

//Fonts

$font-family: 'Trebuchet MS', sans-serif;

/* Styles */

* {
    box-sizing: border-box;
    margin: 0;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px 0;
    font-family: $font-family;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: $text;
    background: $body-bg-color;
    background: $body-bg-gradient;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 12px;
}

/* Animation */

@keyframes lineThrough {
    0% {
      width: 0;
    }
  
    100% {
      width: 75%;
    }
}
